body {
    background-color: powderblue;
    p {
        border: 2px solid powderblue;
    }
 }
      h1 {
        color: blue;

        color: red;

    padding: 20px;
    font-family: Helvetica, Arial, Verdana;}
}

    h1 {
        color: rgb(37, 8, 8);}  
           
    }
